<ion-view view-title="Account">
  <ion-content >
    <div class="account-page">
      <div class="profile-pic-holder">
        <div class="img-avtar-account"> <img ng-src="{{currentuser.avatar_filename || 'img/ionic.png'}}" 
        ng-click="updateProfileImage(currentuser)" /> 
        </div>
        <h2>{{currentuser.user_name || 'thuynt_57'}}</h2>
      </div>
      <div  class="list" >
        <label class="item item-input input-inline"><span class="input-label" >User Name</span>
          <input type="text" maxlength="30" class="forminput"  ng-model="currentuser.user_name">
        </label>
        <label class="item item-input input-inline"><span class="input-label" >Email</span>
          <input type="text" maxlength="30" class="forminput"  ng-model="currentuser.email">
        </label>
        <label class="item item-input input-inline"><span class="input-label" >Password</span>
          <input type="password" maxlength="30" class="forminput"  ng-model="currentuser.password">
        </label>
      </div>
      <button class="button button-positive button-block">Save change</button>
    </div>
  </ion-content>
</ion-view>
