<ion-modal-view animation="slide-in-up" >
  <ion-header-bar class="bar bar-positive">
    <h1 class="title" ng-hide="membergroupediting">Add New Member</h1>
    <h1 class="title" ng-show="membergroupediting">Edit Member</h1>
  </ion-header-bar>
  <ion-content>
    <form novalidate="novalidate">
      <div class="list">
        <label class="item item-input item-floating-label validated"> 
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name" ng-model="memberGroup.membername" name="membername" required="required">
          <i class="icon ion-alert-circled error col col-10">Please enter member name</i> 
        </label>

        <label class="item item-input item-floating-label validated"> 
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="memberGroup.memberemail" name="memberemail" >
        </label>
        <label class="item item-input item-floating-label validated">
          <span class="input-label">Phone number</span>
          <input type="text" placeholder="Phone number" ng-model="memberGroup.memberphonenumber" name="memberphonenumber">
        </label>
        <div class="padding">
          <button  class="button button button-positive button-secondary" ng-hide="membergroupediting"  
          ng-click="saveMemberGroup(memberGroup)">Create Member</button>
          <button  class="button button button-positive button-secondary" ng-show="membergroupediting" 
          ng-click="saveMemberGroup(memberGroup)">Save Member</button>
          <a  class="button button button-positive button-secondary"  ng-click="closemembergroupModal()">Cancel</a> 
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>