<ion-modal-view animation="slide-in-up" >
  <ion-header-bar class="bar bar-positive">
    <h1 class="title" ng-hide="groupediting">Add New Group</h1>
    <h1 class="title" ng-show="groupediting">Edit Group</h1>
  </ion-header-bar>
  <ion-content>
    <form novalidate="novalidate">
      <div class="list">
        <label class="item item-input item-floating-label validated"> <span class="input-label">Group Name</span>
          <input type="text" placeholder="Group Name" ng-model="group.name" name="name" required="required">
          <i class="icon ion-alert-circled error col col-10">Please enter group name</i> </label>

        <div class="padding">
          <button  class="button button button-positive button-secondary" ng-hide="groupediting"  ng-click="saveGroup(group)">Create Group</button>
          <button  class="button button button-positive button-secondary" ng-show="groupediting" ng-click="saveGroup(group)">Save Group</button>
          <a  class="button button button-positive button-secondary"  ng-click="closegroupModal()">Cancel</a> </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>