<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <a ng-click='viewAccount(userId)' ng-show="state!='account'"><i class="ion-gear-a account-icon"></i></a> 
        <a ng-click="openmembergroupModal()" ng-show="state=='groupmember'"><i class="ion-android-add icon-add-member"></i></a> 
      </ion-nav-buttons>
    
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content> 

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <center><h1 class="title">Groups</h1></center>
      <a ng-click="opengroupModal()">
        <i class="ion-person-stalker ion-add-custom">
          <i class="ion-android-add "></i>
        </i>
      </a> 
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item ng-repeat="group in groups">
          <a ng-click='viewGroupMemberInfor(group)' menu-close>{{group.name}}</a>
          <ion-option-button class="button-energized icon ion-edit" ng-click="editGroup(group)"></ion-option-button>
          <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteGroup(group.$id)"></ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>