<ion-view view-title={{currentGroup.name}}>
<ion-content>
  <ion-list>
    <ion-item ng-repeat="x in membersGroup">
      <h2 style="color:blue">{{$index + 1}}. {{x.membername}}</h2>
      <h3>Phone number: {{x.memberphonenumber}}</h3>
      <ion-option-button class="button-stable icon ion-more" ng-click=""></ion-option-button>
      <ion-option-button class="button-energized icon ion-edit" ng-click="editMemberGroup(x)"></ion-option-button>
      <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteMemberGroup(x.$id)"></ion-option-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>