<ion-view view-title="Home">
  <ion-content class="padding">
    <p>Swipe to the right to reveal the left menu.</p>
    <p>(On desktop click and drag from left to right)</p>
    <p>For each group, Swipe to the left to reveal the edit and delete button.</p>
    <p>(On the desktop click and drag from right to left)</p>
  </ion-content>
</ion-view>