/* Empty. Add your own CSS if you like */
.item-add-member{position:absolute;border-radius:50%;background-color:#52c8f4;text-align:center;display:block;position:absolute;color:#fff;width:45px;height:45px;font-size:20px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;border:3px solid #52c8f4;right:65px;text-align:center}
.item-add-member .fa{width:45px}

.ion-add-custom { position:relative;top:8px;right:-10px; font-size:20px !important;}
.ion-minus-custom { position:relative;top:8px;right:-180px; font-size:20px !important;}

.account-icon{position:absolute;text-align:center;display:block;position:absolute;color:#fff;width:55px;height:55px;font-size:25px;display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;right:-20px;top:-5px;text-align:center}
.title{text-align:center}
.icon-add-member{position:absolute;text-align:center;display:block;position:absolute;color:#fff;width:55px;height:55px;font-size:25px;display:-webkit-inline-flex;display:-moz-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;right:30px;top:-5px;text-align:center}